---
- name: include swap configuration
  include: swap.yml

- name: install rc.local file
  template:
    src: rc.local
    dest: /etc/rc.local
    owner: root
    group: root
    mode: '0755'
  when:
    - dronerunner_hyperthreading_disable

- name: disable hyperthreading
  shell:
    cmd: echo off > /sys/devices/system/cpu/smt/control
  when:
    - dronerunner_hyperthreading_disable
  changed_when: false

# - name: Add repository
#   yum_repository:
#     name: docker
#     description: docker
#     baseurl: https://download.docker.com/linux/rhel/docker-ce.repo
#   when: ansible_distribution == "RedHat"

- name: Install required packages - prereqs
  package:
    name: "{{ droneunner_packages_prereqs1 }}"
    state: present

# Could used variables more in the future if necessary
- name: yum-config-manager
  command:
    cmd: yum-config-manager --add-repo https://download.docker.com/linux/rhel/docker-ce.repo
  when:
    - ansible_distribution == "RedHat"
  changed_when: false

- name: Install required packages
  package:
    name: "{{ dronerunner_packages }}"
    state: present
    update_cache: true

- name: Make sure docker is enabled
  ansible.builtin.systemd:
    state: started
    enabled: true
    name: docker

- name: Create scripts dir
  ansible.builtin.file:
    path: /opt/drone/scripts
    state: directory
    mode: '0755'

- name: install startdronerunner.sh script
  template:
    src: startdronerunner.sh
    dest: /opt/drone/scripts/startdronerunner.sh
    owner: root
    group: root
    mode: '0755'
  notify: start runner
