---
# Variables ##########

- name: Include OS-specific variables.
  include_vars: "{{ ansible_os_family }}-family.yml"

- name: Include Distribution version specific variables
  include_vars: "{{ ansible_distribution }}-{{ ansible_distribution_major_version }}.yml"
  ignore_errors: true
  when:
    - ansible_distribution != 'MacOSX'

- name: Determine macos version
  set_fact:
    macos_version: "{{ ansible_distribution }}-{{  ansible_distribution_version.split('.')[0] }}.{{  ansible_distribution_version.split('.')[1] }}"
  when:
    - ansible_distribution == 'MacOSX'

- name: Include Distribution version specific variables for Mac
  include_vars: "{{ macos_version }}.yml"
  ignore_errors: true
  when:
    - ansible_distribution == 'MacOSX'

- name: set facts based on defaults
  set_fact:
    "{{ item[8:] }}": "{{ lookup('vars', item) }}"
  when:
    - item is match("^default_")
    - vars[item[8:]] is not defined
  with_items:
    "{{ vars | list }}"

##########

- name: include linux client
  include: linux.yml
  when: ansible_system == 'Linux'

- name: include mac client
  include: macos.yml
  when: ansible_system == 'Darwin'

- name: include windows client
  include: windows.yml
  when: ansible_system == 'Win32NT'
